.background {
  background-color: #fff;
  border-radius: 32px;
  overflow: hidden;
  padding: 32px;
  box-shadow: 0.25rem 0.25rem 16px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
  // &:hover {
  //   transform: scale(1.01, 1.01);
  // }
}
